$BREAK_POINT_MOBILE: 600px;
$BREAK_POINT_TABLET: 768px;
$BREAK_POINT_PC_NARROW: 960px;
$BREAK_POINT_PC_LARGE: 1280px;

@mixin hover($break-point: $BREAK_POINT_MOBILE) {
  @media screen and (min-width: ($break-point + 1)) {
    &:hover {
      @content;
    }
  }
}

@mixin pc_large($break-point: $BREAK_POINT_PC_LARGE) {
  @media screen and (max-width: $break-point) {
    @content;
  }
}

@mixin pc_narrow($break-point: $BREAK_POINT_PC_NARROW) {
  @media screen and (max-width: $break-point) {
    @content;
  }
}

@mixin tablet($break-point: $BREAK_POINT_TABLET) {
  @media screen and (max-width: $break-point) {
    @content;
  }
}

@mixin mobile($break-point: $BREAK_POINT_MOBILE) {
  @media screen and (max-width: $break-point) {
    @content;
  }
}